@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0 0;
    padding: 0 0;
}

body{
    background-color:#eeece3;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

header{
    background-color: #fffdf6;
    box-shadow: 0 0 10px;
    position: fixed;
    text-decoration: none;
    padding-left: 100%;
    z-index: 10000;
}

#Logo{
    position: relative;
    right: 1364%;
}

#whatsapp-fixo{
    position: fixed;
    left: 96.75%;
    z-index: 10000;
    padding-left: 1px;
    bottom: 20%;
}

#wpp{
    width: 3.1em;
    border-radius: 30%;
    background-color: aliceblue;
    padding: 4%;
    border: solid, rgb(11, 189, 11), 0.15em;
}

#wpp:hover{
    transform: scale(1.1);
}

nav{
    position: absolute;
    left: 37%;
    bottom: 37%;
}

nav a{
    margin-left: 2.5em;
    text-decoration: none;
    color: black;
    font-size: 1.3em;
}

nav a:hover{
    color: #d4cca8;
    transition: 0.25s;
}

.asm{
    background-image: url(https://www.pizzariaatlantico.com.br/img/bg-pattern.png);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat: repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #f7f4ec;
    padding-top: 1%;
    padding-bottom: 3%; 
}

.sm{
    background-color: #e7e1c9;
    margin-top: 7%;
    margin-left: 12%;
    margin-right: 12%;
    border-radius: 20px;
    text-align: center;
    padding-bottom: 2%;
    margin-bottom: 4.5%;
    padding-top: 0.8%;
    border: solid, #8b8770, 2px;
}

#Welcome{
    margin-top: 4%;
    font-size: 1.9em;
    font-weight: 530;
}

.pin{
    margin-top: 3%;
    font-size: 1.3em;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
}

.imglj{
    border-radius: 10%;
    width: 40%;
    margin-left: 3%;
    
}

.imglj:hover{
    transform: scale(1.08);
    transition: 0.34s;
}

#cardapio{
    background-color: #e7e1c9;
    box-shadow: 0 0 11px;
    padding-bottom: 2%;
}


#icar{
    background-color: #eeece3;
    font-size: 1.2em;
    padding: 1% 0;
    margin-bottom: 3%;
    border-bottom: #8b8770 solid 0.12em;
}

#picar{
    margin-left: 3%;
    font-weight: 400;
}

.prato{
    width: 22em;
    height: 20em;
    object-fit: cover;
}

#p1{
    position: relative;
    left:2%;
    padding: 1%;
    margin-right: 60%;
    background-color: rgb(255, 254, 240);
    margin-bottom: 2.1%;
}

#p2{
    position: relative;
    left:2%;
    padding: 1%;
    margin-right: 60%;
    background-color: rgb(255, 254, 240);
    margin-bottom: 2.1%;
}

#p3{
    left:2%;
    position: relative;
    margin-right: 60%;
    padding: 1%;
    margin-bottom: 2.1%;
    background-color: rgb(255, 254, 240);
    
}
    .Hprato{
        position: absolute;
    top: 5%;
    left: 70%;
    font-size: 1.5em;
    translate: 20% 0%;
    color: #7a673d;
}

.Pprato{
    position:absolute;
    top: 15%;
    left: 65%;
}

.Prprato{
    position:absolute;
    top: 88%;
    left: 86.72%;
    background-color: #d4cca8;
    padding: 2%;
    border: #999478, solid;
}

.Hyakisoba{
    position: absolute;
    top: 5%;
    left: 67%;
    font-size: 1.5em;
    translate: -12% 0;
    color: #7a673d;
}

ul{
    position: absolute;
    left: 65%;
    top: 30%;
}

li{
    margin-bottom: 0.7em;
}

.grampo{
    position: absolute;
    width: 4.5%;
    left: 25%;
    top: 0%;
}

.btnshop{
    position: absolute;
    text-decoration: none;
    color: black;
    background-color: #d3b680;
    padding: 2.0%;
    padding-top: 1.9%;
    border: #8b8770 solid 0.2em;
    bottom: -3.1%;
    left: 74%
}

.btnshop:hover{
background-color: #ddc08b;
transform: scale(1.03);
transform-origin: bottom(10%);
transform-style: flat;
}

#fotolabel{
    object-fit: cover;
    width: 99.999%;
    height: 60rem;
    filter: grayscale(10%);
    filter: contrast(-10%);
}

#pedido{
    position: absolute;
    background-color: none;
    backdrop-filter: blur(5px);
    border: #fffdf63a solid 0.15em;
    bottom: -232%;
    right: 32%;
    padding: 10% 5%;
}